/*========================================*/
/*========================================*/
/*====  TABLE OF CONTENTS  ===============*/
/*----  Typography  ----------------------*/
/*----  Global Styles  -------------------*/
/*----  Page-Specific Styles  ------------*/
/*----      Home  ------------------------*/
/*----      Web  -------------------------*/
/*----      Design  ----------------------*/
/*----      Technical  -------------------*/
/*----      Contact  ---------------------*/
/*========================================*/
/*========================================*/



/*========================================*/
/*====  Typography  ======================*/
/*========================================*/
body {
font-size: 16px;
color: #505050;
line-height: 140%;
zoom: 1;
animation: fadeIn 0.5s;
-moz-animation: fadeIn 0.5s;
-webkit-animation: fadeIn 0.5s;
}
body, h1, h2, h3, h4, h5, h6, p {
font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
line-height:100%;
}
h1 {
font-size: 56px;
font-size: 3.5rem;
}
h2 {
font-size: 48px;
font-size: 3rem;
}
h3 {
font-size: 40px;
font-size: 2.5rem;
}
h4 {
font-size: 32px;
font-size: 2rem;
}
h5 {
font-size: 24px;
font-size: 1.5rem;
}
h6, legend {
font-size: 26px;
font-size: 1.625rem;
}
p {
font-size: 24px;
font-size: 1.5rem;
color: #505050;
line-height: 140%;
margin: 25.6px 0;
margin: 1.6rem 0;
}
a:link, a:visited {
color:#fff;
text-decoration: none;
}
a:hover, a:active {
color: #aeaeae;
}




/*========================================*/
/*====  Global Styles  ===================*/
/*========================================*/
::-moz-selection {
	background: #3f3f3f;
	color: #fff;
	text-shadow: 1px 1px black;
}
::selection {
	background: #3f3f3f;
	color: #fff;
	text-shadow: 1px 1px black;
	}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
body {
	background-color: #1B1B1B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.wrapper {
	height: 100%;	
}
#content-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	
}

header {
width: 90%;
position: fixed;
left: 5%;
top: 2%;
z-index: 1000;
}
header span {
background: #3f3f3f;
padding: 10px;
width: 210px;
display:block;
float:left;
}
header > span > a {
text-indent:-9999px;
background: url('../img/dustinhayes.png') no-repeat 0 0;
display:block;
width: 206px;
height: 30px;
margin:0;
}
.contact_link {
float: right;
display:block;
width: 24px;
height: 20px;
background: #3f3f3f url('../../img/contact.png') no-repeat center center;
text-indent: -9999px;
padding:2px;
}

a.work {
float: right;
display:block;
margin: 80px 160px 0 0;
margin: 5rem 10rem 0 0;
padding: 10px 20px;
background: #000;
}
.clear {
clear:both;
}
.white {
color: #fff;
}
.panel {
width: 100%;
height: 100%;
position: relative;
min-height: 700px;
float:left;
}
div.content {
margin: 0;
width: 100%;
height: 100%;
}
div.content > section {
height: 100%;
width: 100%;
position: relative;
padding:0; 
margin: 0 auto; 
box-shadow: 0 0px 30px #000, inset 0 0 3px #000;
overflow:hidden;
min-height: 700px;
}
div.content > section:last-child {
padding-bottom: 0;
}
div.dots {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYV2NkYGD4D8QgwAilsVIgSaIV4jMILofXOmQTRqZCAA2GAgtAGDiMAAAAAElFTkSuQmCC);
width: 100%;
height: 100%;
min-height: 700px;
}
div.angle {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV43MQQ4AIAgDQfv/R4OYaFChsOfJYvQSNJxMgwouZDMGD2LwQhn8UARD9MIUeUjRhiUyqPw8Cgq7TDlmAAAAAElFTkSuQmCC);
width: 100%;
height: 100%;
position: fixed;
z-index: -1;
min-height: 700px;
}
div.random {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMUlEQVQYV2NkIBIw4lFXD5RrhMnjU4hiBkwhim5stpBsIj4vgW0j20ScbiXbRJxuBQCChgQL9TiHaAAAAABJRU5ErkJggg==);
width: 100%;
height: 100%;
min-height: 700px;
}
div.hash {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGUlEQVQIW2NkYGAwBmKsgBEqeRab7KCTBABhggY7sGpE4gAAAABJRU5ErkJggg==);
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
z-index: -1;
min-height: 700px;
}
a.info {
position: absolute;
left: 10%;
bottom: 25%;
width: auto;
height: auto;
padding: 16px;
padding: 1rem;
background:#1B1B1B url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV43MQQ4AIAgDQfv/R4OYaFChsOfJYvQSNJxMgwouZDMGD2LwQhn8UARD9MIUeUjRhiUyqPw8Cgq7TDlmAAAAAElFTkSuQmCC);
border: 1px solid #333;
text-shadow: 1px 1px #333;
}
a.info:hover {
text-shadow: 1px 1px 0px #000;
}
div.info {
width: 30%;
background: #666;
position: absolute;
right: -30%;
top: 0%;
padding:0;
}

div.info > .info_copy {
margin: 0;
background: white;
height: 100%;
padding-top: 200px;
width:100%;
border: 1px solid #333;
box-shadow: -1px 0px 25px #000;
min-height: 700px;
}
div.info_copy h2:first-child {
margin-top: 0;
}
div.info_copy > * {
margin: 0 20px;
display:block;
}
div.info p {
margin-top: 20px;
}
div.info p a {
color: #EDB200;
font-size: 16px;
font-size: 1rem;
text-shadow: 1px 1px 0px #000;
display: block;
width: 80px;
position: relative;
background: #505050;
padding-left: 10px;
}
div.info p a:hover {
color: #a77e00;
}
div.info p a.view_site:after {
width: 0;
height: 0;
border-top: 16px solid transparent;
border-bottom: 16px solid transparent;
content: "";
border-left: 16px solid #505050;
margin: 0 15px;
position: absolute;
right: -31px;
top: 0px;
}
div.info p a.view_site:before {
width: 0;
height: 0;
border-left: 16px solid transparent;
border-bottom: 16px solid transparent;
content: "";
border-top: 16px solid #252525;
margin: 0 15px;
position: absolute;
left: -16px;
top: 32px;
}
div.info p a.close {
	float:right;
	padding: 0;
	border: none;
	margin-top: -40px;
	border-radius: 0;
}
div.info p a.close:before {
width: 0;
height: 0;
border-top: 16px solid transparent;
border-bottom: 16px solid transparent;
content: "";
border-right: 16px solid #505050;
margin: 0 15px;
position: absolute;
left: -31px;
top: 0px;
}
div.info p a.close:after {
width: 0;
height: 0;
border-right: 16px solid transparent;
border-bottom: 16px solid transparent;
content: "";
border-top: 16px solid #252525;
margin: 0 15px;
position: absolute;
right: -15px;
top: 32px;
}
@media only screen and (max-width: 480px) {
	div.info {
		width:100%;
		right: -100%;
	}
	div.info > .info_copy {
		padding-top: 100px;
	}
	div.content > section {
		overflow:hidden;
	}
}
.nav {
text-align:center;
}
.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.nav ul li {
margin: 5px;
padding: 0;
list-style-type: none;
display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	text-shadow: 1px 1px 0px #222;
}
.nav ul li a:link, .nav ul li a:visited {
	color: #676666;
	margin:0;
	font-size: 16px;
	font-size: 1rem;
	text-shadow: 1px 1px 0px #222;
}
.nav ul li a:hover, .nav ul li a:active {
	color: #fff;
}
.nav ul li a.active {
border-bottom: 2px solid #000;
color: #999;
}
.half {
width: 40%;
float:left;
display:inline-block;
margin: 0 3%;
padding: 0;
}



/*========================================*/
/*====  Home Styles  =====================*/
/*========================================*/
section.home {
text-shadow: 1px 1px 2px #000;
}
@media only screen and (min-width: 480px) {
	.home .main, .home aside {
	float: left;
	width: 300px;
	}
	.home .main {
	margin: 5% 0 -35% 25%;
	padding-top: 80px;
	}
	.home aside {
	margin: 40% 0 0 10%;
	}
}

@media only screen and (max-width: 480px) {
	.home .main, .home aside {
	float: left;
	}
	.home .main {
	margin: 100px 20px 0;
	}
	.home aside {
	margin: 20px;
	}
	
}
.home aside ul {
list-style type: none;
margin: 0;
padding: 0;
}
.home aside ul li {
list-style-type: none;
padding: 0;
margin: 0;
}
.home .main a:after {
	content: '';
	display:inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid white;
	margin-left: 15px;
}



/*========================================*/
/*====  Web Styles  ======================*/
/*========================================*/
section.web {
text-shadow: 1px 1px 2px #fff;
}
section.cornerstone {
background: white url(../img/cpmg.jpg) no-repeat 0 0 fixed;
}
section.occ {
background: url(../img/occ.jpg) no-repeat 0 0 fixed;
}
section.dk {
background: white url(../img/dk.jpg) no-repeat 0 0 fixed;
}
.occ_light {
background: url("../img/occ_light.png") no-repeat center 0;
width: 719px;
height:310px;
position: absolute;
right:0;
bottom: 0;
}
.occ_fs {
background: url("../img/occ_fs.png") no-repeat 0 0;
width: 534px;
height:554px;
position: absolute;
right:0;
bottom: 0;
}
.occ_update {
background: url("../img/occ_update.png") no-repeat 0 0;
width: 611px;
height:524px;
position: absolute;
left:0;
bottom: 0;
}
.dk_logo {
background: url("../img/dk_logo.png") no-repeat 0 0;
width: 555px;
height:422px;
position: absolute;
left:0;
bottom: 0;
}
.cpmg_logo {
background: url("../img/cpmg_logo.png") no-repeat 0 0;
width: 1253px;
height:440px;
position: absolute;
right:0;
bottom: 0;
}
.cpmg_map {
background: url("../img/cpmg_map.png") no-repeat 0 0;
width: 869px;
height:766px;
position: absolute;
left:50%;
bottom: 0;
}
.cpmg_quote {
background: url("../img/cpmg_quote.png") no-repeat 0 0;
width: 889px;
height:559px;
position: absolute;
left:0;
bottom: 0;
}


/*========================================*/
/*====  Technical Styles  ================*/
/*========================================*/
section.tech {
text-shadow: 1px 1px 2px #000;
color:#aaa;
}
section.tech p {
color: #aaa;
}
.tech .main {
width: 50%;
margin: 20% auto 0 auto;
}
.tech h1, .tech p {
text-align:center;
}
.tech p {
font-size: 16px;
font-size: 1rem;
}
.tech p.half {
text-align: left;
}
.tech ul.half {
border-right: 1px solid #EEE;
padding-right: 20px;
}
.tech ul.half:last-child {
border: none;
}

/*========================================*/
/*====  Design Styles  ===================*/
/*========================================*/
section.design {
text-shadow: 1px 1px 2px #fff;
}
section.timeline {
background: black url(../img/t1.jpg) no-repeat 0 0 fixed;
}
section.bulletins {
background: white url(../img/bulletin.jpg) no-repeat 0 0 fixed;
}
section.logos {
background: #000 url(../img/logos.png) no-repeat center center fixed;
}

.timeline_1 {
background: url("../img/timeline_1.png") no-repeat 0 0;
width: 413px;
height:289px;
position: absolute;
left:0;
bottom: 0;
}
.timeline_2 {
background: url("../img/timeline_2.png") no-repeat 0 0;
width: 599px;
height:254px;
position: absolute;
left:20%;
bottom: 0;
}
.timeline_3 {
background: url("../img/timeline_3.png") no-repeat 0 0;
width: 628px;
height:313px;
position: absolute;
right: -10%;
bottom: 0;
}
.bulletin_recognize {
background: url("../img/bulletin_recognize.png") no-repeat 0 0;
width: 528px;
height:551px;
position: absolute;
left:0;
bottom: 0;
}
.bulletin_intersecting {
background: url("../img/bulletin_intersecting.png") no-repeat 0 0;
width: 572px;
height:471px;
position: absolute;
right:0;
bottom: 0;
}
.bulletin_unbelievable {
background: url("../img/bulletin_unbelievable.png") no-repeat 0 0;
width: 598px;
height:358px;
position: absolute;
left: 20%;
bottom: 0;
}
.bulletin_rapha {
background: url("../img/bulletin_rapha.jpg") no-repeat 0 0;
width: 500px;
height:300px;
position: absolute;
left: 40%;
bottom: 200px;
}

.logos_go {
background: url("../img/logos_go.png") no-repeat 0 0;
width: 626px;
height: 458px;
position: absolute;
left:20%;
bottom: 0;
}
.logos_sp {
background: url("../img/logos_sp.png") no-repeat 0 0;
width: 452px;
height: 307px;
position: absolute;
right: 0;
bottom: 0;
}

.logos_kl {
background: url("../img/logos_kl.png") no-repeat 0 0;
width: 404px;
height: 329px;
position: absolute;
left: 0;
bottom: 0;
}
.logos_dc {
background: url("../img/logos_dc.png") no-repeat 0 0;
width: 469px;
height: 214px;
position: absolute;
right: 10%;
bottom: 0;
}


/*========================================*/
/*====  Contact Styles  ==================*/
/*========================================*/
.contact {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #F4FBFF;
z-index:10000;
display: none;
text-shadow: 1px 1px white;
overflow:hidden;
}
.contact_copy {
width: 50%;
text-align:center;
margin: 10% auto;
}
.contact_info {
width: 30%;
float:left;
margin-left: 10%;
font-size: 16px;
font-size: 1rem;
line-height: 25.6px;
line-height: 1.6rem;
min-width: 420px;
}
.contact_info a:link, .contact_info a:visited {
color: #2197FF;
}
.contact_info a:hover, .contact_info a:active {
color: #0060FC;
}
.resume {
margin-top: 20px;
display:block;
}
.contact_form {
float:left;
width: 50%;
min-width: 450px;
}

#contactus fieldset {
width: 50%;
margin: 0 auto;
border: none;
}
#contactus input[type="text"],#contactus textarea {
padding: 7px;
color: #999;
border-radius: 5px;
border: 1px solid #dde2ff;
margin: 5px 0;
width: 100%;
}
#contactus input:focus, #contactus textarea:focus {
color: #000;
border-color: #999;
box-shadow: 0px 0px 7px #63A1ED;
outline: none;
}
input.spmhidip {
display: none;
}
.error, #response {
color: red;
}
input[type="submit"], a.close {
border: 1px solid #209AF7;
background: #89C7F9;
color: #333;
padding:10px 15px;
cursor: pointer;
border-radius: 5px;
font-size: 12px;
font-size: 0.75rem;
text-shadow: 1px 1px white;
}
input[type="submit"]:hover, a.close:hover {
border: 1px solid #5FB6EF;
color: #000;
}
#response {
width: 50%;
margin-left: 100px;
margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
	header {
		width: 100%;
		top: 0px;
		left: 0;
	}
	header > span {
		width: 100%;
		padding: 10px 0;
	}
	header > span > a {
		margin: 0 auto;
	}
	section.timeline, section.bulletins,section.logos, section.cornerstone, section.occ, section.dk  {
		background-attachment: scroll;
	}
	.contact {
		padding-bottom: 40px;
	}
	.contact_info {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		min-width: 80%;
	}
	.contact_form {
		width: 100%;
		min-width: 100%;		
	}	
	h1 {
		font-size: 32px;
		font-size: 2rem;
	}
	#contactus fieldset {
		width: 100%;
		margin: 0 auto;
		border: none;
	}
	#contactus input[type="text"],#contactus textarea {
		width: 80%;
	}
	.half {
		width: 90%;
		margin: 0 5%;
	}
	.tech ul.half {
		border-right: none;
		border-bottom: 1px solid #eee;
		padding: 20px 0;
		margin: 20px 0;
	}
	.tech .main {
		width: 80%;
		margin-bottom: 20px;
		margin-top: 80px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}


@keyframes fadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}

@-moz-keyframes fadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes fadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}