// @font-face {
//   font-family: "rennervf";
//   src: url("../fonts/renner-VF.ttf") format("truetype");
// }
//
// @font-face {
//   font-family: "rennertab";
//   src: url("../fonts/rennertab.ttf") format("truetype");
// }
@font-face {
	src: url('../fonts/SFNSDisplay.woff2');
	font-family:'SF Display';
	font-style: normal;
}
//
// @font-face {
//   font-family: "Source Sans Pro";
//   src: url("../fonts/SourceSanceVariable-Roman.ttf") format("truetype");
// }