@import 'colors';
@import 'breakpoints';

.app__technologies {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 50fr);
  grid-template-rows: 200px;
  grid-gap: 0.5rem;
  justify-items: stretch;
  align-items: center;
  @include breakpoint(mobile-m) {
    grid-template-columns: repeat(3, 33.33fr);
  }
  @include breakpoint(tablet-s) {
    grid-template-columns: repeat(4, 25fr);
  }
  @include breakpoint(desktop-s) {
    grid-template-columns: repeat(5, 20fr);
  }
  @include breakpoint(desktop-l) {
    grid-template-columns: repeat(6, 16.667fr);
  }
}
