.app__header {

  &__nav {
    flex: 1 1 auto;
    align-self: center;
    text-align: right;
    &__item {
      text-transform: uppercase;
      padding: 0 1rem;
      transition: color .2s;
      text-decoration: none;
      &.active {
        color: $red;
      }
      &:link, &:visited {
        color: $friar-gray;
      }
      &:hover, &:active {
        color: black;
      }
    }
  }
}
.g__logo__highlight{
  fill:$red;
}
.app__footer {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: auto;
  &__item {
    flex: 1 1 auto;
    text-transform: uppercase;
    padding: 1rem;
    transition: color .2s;
    text-decoration: none;
    &.active {
      color: $red;
    }
    &:link, &:visited {
      color: $friar-gray;
    }
    &:hover, &:active {
      color: black;
    }
  }
}